.events-page {
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  background-color: #FFBF00;
}

.event-row-container {
  margin-bottom: 0px;
}

.event-row-title {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 4px;
  margin: 10px 0 10px 10px;
  color: #12130F;
  text-align: center;
}

.event-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100vw;
  height: 30vh;
}

.event-card {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  overflow: hidden;
}

.event-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}

.event-card:hover .event-overlay {
  opacity: 1;
}

.event-text {
  color: white;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 700;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  text-align: center;
}

/* Slide Animations */
.slide-left {
  animation: slideInLeft 4s ease forwards;
}

.slide-right {
  animation: slideInRight 4s ease forwards;
}

@keyframes slideInLeft {
  from { transform: translateX(-100px); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes slideInRight {
  from { transform: translateX(100px); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

/* Fullscreen View */
.event-modal-backdrop {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.event-modal {
  background: white;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 30px;
  width: 90%;
  max-height: 90vh;
  max-width: 600px;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.2);
  position: relative;
  animation: fadeIn 0.3s ease;
  color: black;
}

.close-btn {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 6px;
  left: 16px;
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
}

.event-modal img {
  width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}

.event-modal h2 {
  font-size: 28px;
  margin-bottom: 12px;
}

.event-modal p {
  font-size: 18px;
  line-height: 1.6;
}